*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.conainer{
    width: 90%;
    margin: 0 auto;
}
.main{
    color: #fff;
    background: url('../img/back.jpg') no-repeat center / cover;
}
.main__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}
.main__title{
    text-align: center;
    font-size: 50px;
}
.main__subtitle{
    text-align: center;
    font-size: 36px;
}
.main__phone{
    text-align: center;
}
.main__link{
    text-align: center;
    font-size: 36px;
    color: #fcaf3b;
    font-weight: 500;
}